cachecontrol==0.14.3
Flask==3.1.1
google_auth_oauthlib==1.2.2
matplotlib==3.10.3
mpld3==0.5.10
newsapi_python==0.2.7
numpy==2.3.1
pandas==2.3.0
plotly==6.1.1
prophet==1.1.7
protobuf==6.31.1
python_dateutil==2.9.0.post0
Requests==2.32.4
scikit_learn==1.7.0
yfinance==0.2.61
